## Pushshift.io from two subreddits

In [1]:
import pandas as pd
import requests
import numpy as np
import time

## getting 10000 recent submissions and comments for the first subreddit(Renewable Energy)

In [24]:
base_url = 'https://api.pushshift.io/reddit/comment/search'
before_timestamp = round(time.time())
all_dfs1 = pd.DataFrame()
for _ in range(10):
    print(before_timestamp)
    params = {
    "subreddit" : 'RenewableEnergy',
    "size" : 10_000,
    'after': None,
    'before': before_timestamp
        }
    res = requests.get(base_url,params)
    if res.status_code == 200:
        data = res.json()['data']
        oldest_submission_timestamp = data[-1]['created_utc']
        before_timestamp = oldest_submission_timestamp
        df = pd.DataFrame(data)[["body","subreddit","score"]]
        all_dfs1=all_dfs1.append(pd.DataFrame(df), ignore_index = True)
        
    else:
        print(f'ERROR CODE FOR RES: {res.status_code}')
        break

1587535197
1584299663
1581202905
1578311019
1575757133
1572580051
1569365697
1566773635
1564670794
1562545991

In [25]:
all_dfs1

,body,subreddit,score
0,"I agree with this, the sooner the better. Even...",RenewableEnergy,1
1,"No, we should set the target to 100% for 10 ye...",RenewableEnergy,2
2,"Opps, yep",RenewableEnergy,1
3,2030?,RenewableEnergy,1
4,One of my coworkers is a civil engineer as his...,RenewableEnergy,1
...,...,...,...
9995,The constant rising and loweing of the water l...,RenewableEnergy,1
9996,"Ah, I was like, “hasn’t the us already built a...",RenewableEnergy,2
9997,Dig a giant hole at the bottom of the dam. Tha...,RenewableEnergy,1
9998,I've linked a source accounting for some of th...,RenewableEnergy,1
9999,Perhaps some. But to say that any dam can be f...,RenewableEnergy,1

In [26]:
base_url = 'https://api.pushshift.io/reddit/submission/search'
before_timestamp = round(time.time())
all_dfs2 = pd.DataFrame()
for _ in range(10):
    print(before_timestamp)
    params = {
    "subreddit" : 'RenewableEnergy',
    "size" : 10_000,
    'after': None,
    'before': before_timestamp
        }
    res = requests.get(base_url,params)
    if res.status_code == 200:
        data = res.json()['data']
        oldest_submission_timestamp = data[-1]['created_utc']
        before_timestamp = oldest_submission_timestamp
        df = pd.DataFrame(data)[["title","subreddit","num_comments","score"]]
        all_dfs2=all_dfs2.append(pd.DataFrame(df), ignore_index = True)
    else:
        print(f'ERROR CODE FOR RES: {res.status_code}')
        break

1587535247
1574209447
1564852869
1556710945
1548275878
1538396785
1530293985
1518697956
1504921703
1492521320

In [27]:
all_dfs2

,title,subreddit,num_comments,score
0,"Solar has record-breaking week in Germany, pro...",RenewableEnergy,0,1
1,Green New Deal,RenewableEnergy,0,2
2,I am Solomon Rajput and I’m running for US Con...,RenewableEnergy,0,1
3,Germany’s solar panels produced record amounts...,RenewableEnergy,0,3
4,Five EU countries call for 100% renewable ener...,RenewableEnergy,5,1
...,...,...,...,...
9995,Trump begins his witchhunt against Green Energ...,RenewableEnergy,90,261
9996,New Report: Switch to a Clean Energy Economy “...,RenewableEnergy,0,1
9997,Buy vs. Lease Solar Panels: Which Option Is Be...,RenewableEnergy,0,1
9998,Residential Solar Water Heater Idea,RenewableEnergy,7,11
9999,Port Of Long Beach Goes Greener With Solar Car...,RenewableEnergy,0,15

In [28]:
all_dfs1.rename(columns={"body":"text"},inplace=True)

In [29]:
all_dfs2.rename(columns={"title":"text"},inplace=True)

In [30]:
df_renewable=all_dfs1.append(all_dfs2,ignore_index=True)

In [31]:
df_renewable

,text,subreddit,score,num_comments
0,"I agree with this, the sooner the better. Even...",RenewableEnergy,1,NaN
1,"No, we should set the target to 100% for 10 ye...",RenewableEnergy,2,NaN
2,"Opps, yep",RenewableEnergy,1,NaN
3,2030?,RenewableEnergy,1,NaN
4,One of my coworkers is a civil engineer as his...,RenewableEnergy,1,NaN
...,...,...,...,...
19995,Trump begins his witchhunt against Green Energ...,RenewableEnergy,261,90.0
19996,New Report: Switch to a Clean Energy Economy “...,RenewableEnergy,1,0.0
19997,Buy vs. Lease Solar Panels: Which Option Is Be...,RenewableEnergy,1,0.0
19998,Residential Solar Water Heater Idea,RenewableEnergy,11,7.0
19999,Port Of Long Beach Goes Greener With Solar Car...,RenewableEnergy,15,0.0

## getting 10000 recent submissions and comments for the second subreddit(Energy)

In [32]:
base_url = 'https://api.pushshift.io/reddit/comment/search'
before_timestamp = round(time.time())
all_dfs1 = pd.DataFrame()
for _ in range(10):
    print(before_timestamp)
    params = {
    "subreddit" : 'energy',
    "size" : 10_000,
    'after': None,
    'before': before_timestamp
        }
    res = requests.get(base_url,params)
    if res.status_code == 200:
        data = res.json()['data']
        oldest_submission_timestamp = data[-1]['created_utc']
        before_timestamp = oldest_submission_timestamp
        df = pd.DataFrame(data)[["body","subreddit","score"]]
        all_dfs1=all_dfs1.append(pd.DataFrame(df), ignore_index = True)
        
    else:
        print(f'ERROR CODE FOR RES: {res.status_code}')
        break

1587535409
1587076309
1586573318
1586107557
1585694684
1585072900
1584337917
1583810227
1583372532
1582958774

In [33]:
all_dfs1

                                                   body subreddit  score
0     &gt;the article is about "new" cars, not "all"...    energy      1
1     What a non-sense article. Good luck trying to ...    energy      2
2            Tesla semi will be a game changer for this    energy      1
3     Well, you know, I oversimplified.  They are tr...    energy      1
4                                 90 miles is 144.84 km    energy      1
...                                                 ...       ...    ...
9995                                     It will happen    energy      1
9996                                   It’s a good idea    energy      1
9997  they can easily be reused before you even have...    energy      1
9998  Precisely! Storage is rarely ever simple kwh s...    energy      1
9999  Yes, that can be addressed with storage. But t...    energy      1

[10000 rows x 3 columns]

In [34]:
base_url = 'https://api.pushshift.io/reddit/submission/search'
before_timestamp = round(time.time())
all_dfs2 = pd.DataFrame()
for _ in range(10):
    print(before_timestamp)
    params = {
    "subreddit" : 'energy',
    "size" : 10_000,
    'after': None,
    'before': before_timestamp
        }
    res = requests.get(base_url,params)
    if res.status_code == 200:
        data = res.json()['data']
        oldest_submission_timestamp = data[-1]['created_utc']
        before_timestamp = oldest_submission_timestamp
        df = pd.DataFrame(data)[["title","subreddit","num_comments","score"]]
        all_dfs2=all_dfs2.append(pd.DataFrame(df), ignore_index = True)
    else:
        print(f'ERROR CODE FOR RES: {res.status_code}')
        break

1587535493
1583704026
1579774628
1575903674
1572471261
1569070012
1565705512
1562506838
1559025987
1555261049

In [35]:
all_dfs1.rename(columns={"body":"text"},inplace=True)

In [36]:
all_dfs2.rename(columns={"title":"text"},inplace=True)

In [37]:
df_energy=all_dfs1.append(all_dfs2,ignore_index=True)

In [38]:
df_energy

,text,subreddit,score,num_comments
0,"&gt;the article is about ""new"" cars, not ""all""...",energy,1,NaN
1,What a non-sense article. Good luck trying to ...,energy,2,NaN
2,Tesla semi will be a game changer for this,energy,1,NaN
3,"Well, you know, I oversimplified. They are tr...",energy,1,NaN
4,90 miles is 144.84 km,energy,1,NaN
...,...,...,...,...
19995,A Behind the Scenes Take on Lithium-ion Batter...,energy,21,6.0
19996,What is a transformer and how does it work? HV...,energy,1,0.0
19997,Leveraging Nuclear Power to Decarbonize The Po...,energy,4,2.0
19998,"As Utilities Seek to Minimize Wasted Energy, F...",energy,4,4.0
19999,Thailand plans 2.7GW of floating solar capacity,energy,6,0.0

## Making the final dataset

In [39]:
df=df_energy.append(df_renewable,ignore_index=True)

In [40]:
df

,text,subreddit,score,num_comments
0,"&gt;the article is about ""new"" cars, not ""all""...",energy,1,NaN
1,What a non-sense article. Good luck trying to ...,energy,2,NaN
2,Tesla semi will be a game changer for this,energy,1,NaN
3,"Well, you know, I oversimplified. They are tr...",energy,1,NaN
4,90 miles is 144.84 km,energy,1,NaN
...,...,...,...,...
39995,Trump begins his witchhunt against Green Energ...,RenewableEnergy,261,90.0
39996,New Report: Switch to a Clean Energy Economy “...,RenewableEnergy,1,0.0
39997,Buy vs. Lease Solar Panels: Which Option Is Be...,RenewableEnergy,1,0.0
39998,Residential Solar Water Heater Idea,RenewableEnergy,11,7.0
39999,Port Of Long Beach Goes Greener With Solar Car...,RenewableEnergy,15,0.0

In [41]:
df=df.fillna(0)

In [42]:
df

,text,subreddit,score,num_comments
0,"&gt;the article is about ""new"" cars, not ""all""...",energy,1,0.0
1,What a non-sense article. Good luck trying to ...,energy,2,0.0
2,Tesla semi will be a game changer for this,energy,1,0.0
3,"Well, you know, I oversimplified. They are tr...",energy,1,0.0
4,90 miles is 144.84 km,energy,1,0.0
...,...,...,...,...
39995,Trump begins his witchhunt against Green Energ...,RenewableEnergy,261,90.0
39996,New Report: Switch to a Clean Energy Economy “...,RenewableEnergy,1,0.0
39997,Buy vs. Lease Solar Panels: Which Option Is Be...,RenewableEnergy,1,0.0
39998,Residential Solar Water Heater Idea,RenewableEnergy,11,7.0
39999,Port Of Long Beach Goes Greener With Solar Car...,RenewableEnergy,15,0.0

In [43]:
df.isnull().sum().sum()

0

In [44]:
#code
df.to_csv('../datasets/df.csv', index=False)